
.header{

    display: flex;
    grid-area: h;
    align-items: center;
    font-size: 290%;
    color: rgb(48, 48, 48);
    background-color: rgb(133, 187, 187);

}

.header img{
    width: 60px;
    height: 60px;
}

