

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:10px;
  background-color: rgb(151, 151, 151);
}

.header{
  grid-area: h;
  background-color: rgb(133, 187, 187);
}

.header img{
  width: 60px;
  height: 60px;
}

.nav{
  grid-area: n;
  background-color: rgb(133, 187, 187);
  
}

.Content{
  grid-area: c;
  background-color: rgb(179, 136, 196);
}
.Content img{
  width: 100%;
}