.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}
.dialogsItems .active{

}
.dialog a{
    font-size: 23px;
    color: rgb(39, 39, 39);
    text-decoration:none;
}

.dialog a.activeLink {
    color: black;
    background-color: white;
}
.messages{
    padding: 10px;
    font-size: 23px;
}

.messages .message{

}

